"*":
  "exception-reporting":
    userId: "f4ef2d3f-e22a-6487-c736-917d02e89a79"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    invisibles:
      {}
    fontSize: 13
    fontFamily: "Monaco"
